@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    background-color: #e2e8f0;
}
.leftSide{
    color: white;
    font-weight: 500;
    font-size: 18px;
    background-color: #1992d4;
    grid-row: 1/2;
}
.setings{
    margin-top: 60px;
}
.leftSide .logo{
    margin-left: 30px;
    margin-bottom: 45px;
    padding-right: 35px;
}
.top-part{
    display: flex;
    flex-direction: column;
}
.top-part .part1{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    background-color: white;
}
.top-part .part1 .searchBar{
    margin-left: 55px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
}
.top-part .part1 .searchBar svg{
    height: 27px;
    width: 27px;
}
.top-part .part1 .searchBar input{
    outline: none;
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 800px;
    margin-left: 15px;
    padding-left: 15px;
    background-color: #e2e8f0;
}

.top-part .part1 .searchBar input:focus{
    background-color: #bae6fd;
}

.top-part .part1 .right-top{
    margin-right:95px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-direction: row;
    padding: 15px 0px;
    align-items: center;
}
.top-part .part1 .right-top img{
    height: 45px;
    width: 45px;
}

.top-part .part1 .right-top p{
    padding: 0;
    font-weight: bolder;
    font-size: 24px;
    margin: 0;
}
.top-part .part1 .right-top svg{
    height: 35px;
    width: 35px;
}
.top-part .part2{
    display: flex;
    background-color: white;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 25px;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.371);
}
.top-part .part2 .leftPart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.top-part .part2 .leftPart img{
    display: flex;
    height: 75px;
    width: 75px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 55px;
    
}
.top-part .part2 .leftPart .textOnTop .p1{
    padding: 0;
    margin: 0;
}
.top-part .part2 .leftPart .textOnTop .p2{
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-weight: bolder;
}
.top-part .part2 .leftPart .textOnTop{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1px;
}

.top-part .part2 .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 92px;
    gap: 15px
}
.top-part .part2 .buttons button{
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 17px;
    background-color: #1992d4;
    
    color: white;
}
.top-part .part2 .buttons button:hover{
    background-color: #106c9d;
}
.top-part .part2 .buttons button:active{
    background-color: white;
}
.content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 15px;
}
.content .projects{
    grid-column: 1 / 2;
    grid-row: 1/3;
}
.content .projects .projects-content{
    padding: 15px 30px;
    height: 88%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 23px;
    column-gap: 35px;

}

.projects .projects-content .block{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 30px;
    border-radius: 12px;
    background-color: white;
    box-shadow: -10px 0px 0px 0px rgba(240,180,41,0.75);
}
.projects .projects-content .block p{
    margin-top: 0;
    padding-right: 100px;
}
.projects .projects-content .block .icons svg{
    width: 30px;
    height: 30px;
}
.projects .projects-content .block .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-top: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-bottom: 30px;
}

.content .ptrending{
    grid-column: 2 / 3;
    grid-row: 2/3;
}

.announcements .text-container{
    margin: 0;
    padding: 15px 35px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.371);
    margin-right: 35px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}.announcements{
    margin-bottom: 22px;        
}
.announcements .text-container .line{
    height: 2px;
    background: #d9d9d9;
    width: 100%;
}
.announcements .text-container .b-text h1{
    font-size: 21px;
}
.logo{
    display: flex;
    align-items: center;
}
.itemSideBar{
    display: flex;
    align-items: center;
}
.itemSideBar svg{
    width: 100px;
    height: 40px;
}

.section-title{
    font-size: 25px;
}
.section-title-project{
    font-size: 25px;
    padding-left: 25px;
    padding-top: 25px;
    margin-bottom: 0;
}
.trending .t-block{
    margin: 0;
    padding: 15px 0px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.371);
    margin-right: 35px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.trending .users{
    padding-left: 35px;
    justify-content: start;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.trending .users img{
    padding-right: 15px;
    height: 50px;
    width: 50px;
}
.trending .users .rightText{
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}
.trending .users .rightText h3{
    margin: 0;
}
.trending .users .rightText p{
    margin: 0;
}